{% extends "base.html" %}
---
title: Skip Bugzilla's process_bug.cgi
jetpack: skip-process-bug.js
date: 2009-07-13
---

{% block article -%}
  <p>
    When you update anything on Bugzilla, you're left on process_bug.cgi, a
    POSTed page.  This sucks.  <code>POST</code> is for data, <code>GET</code>
    is for web pages.
  </p>
  <p>
    When process_bug.cgi is detected, document.location is changed to the bug's
    real location and any email notifications are shown with
    <code>jetpack.notifications</code>.
  </p>
  <p>
    This jetpack uses some terrible screen scraping that's likely to break, but
    I'll probably fix it quickly since I'm on bugzilla every day.
  </p>
{%- endblock %}
